<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
      
    </div>
    <div class="menu-trigger">menu</div>
    <a href="https://www.github.com/tman5" target="_blank"><image src="/img/github.png" alt="GitHub" style="margin-right:5px; width:36px;"/></a>
    <a href="https://twitter.com/nothvice" target="_blank"><image src="/img/twitter.png" alt="Twitter" style="width:36px; margin-right:5px;"/></a>
    <a href="mailto:travis@travisscotto.com"><image src="/img/mail.png" alt="Email" style="width:36px; margin-right:5px;"/></a>
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
</header>

